parameters:
    erp.shopify.config:
        product_limit: %shopify_product_limit%

services:

    erp.command.updateCatalog:
        class: ERPBundle\Commands\UpdateCatalog
        arguments: [@erp.services.shopifyStore, @old_sound_rabbit_mq.product_producer]
        tags:
            -  { name: console.command }

    erp.product_consumer:
        class: ERPBundle\Consumer\ProductConsumer
        arguments:
            - @erp.client.erp
            - @erp.services.productCatalog
            - @erp.services.shopifystore

    erp.client.erp:
        class: ERPBundle\Services\Client\ErpClient
        arguments:
            - @erp.guzzle.client.erp

    erp.client.shopifyWrapper:
        class: ERPBundle\Services\Client\ShopifyApiClientWrapper
        arguments:
            - @erp.guzzle.client.shopify

    erp.services.shopifyStore:
        class: ERPBundle\Services\ShopifyStoreService
        arguments:
            - @erp.repository.catalog
            - @erp.repository.store

    erp.services.productCatalog:
        class: ERPBundle\Services\ProductCatalogService
        arguments:
            - @erp.client.shopifyWrapper
            - @erp.options.shopify
            - @erp.repository.skuToProduct
            - @erp.repository.catalog

    erp.guzzle.client.erp:
        class: GuzzleHttp\Client

    erp.guzzle.client.shopify:
        class: ERPBundle\Factory\Client\ShopifyApiClientFactory

    erp.options.shopify:
        class: ERPBundle\Options\ShopifyOptions
        arguments: ["%erp.shopify.config%"]

    erp.repository.skuToProduct:
          class: Doctrine\ORM\EntityRepository
          factory_service: doctrine.orm.default_entity_manager
          factory_method: getRepository
          arguments:
              - ERPBundle\Entity\SkuToProductEntity

    erp.repository.catalog:
        class: Doctrine\ORM\EntityRepository
        factory_service: doctrine.orm.default_entity_manager
        factory_method: getRepository
        arguments:
            - ERPBundle\Entity\CatalogEntity

    erp.repository.store:
        class: Doctrine\ORM\EntityRepository
        factory_service: doctrine.orm.default_entity_manager
        factory_method: getRepository
        arguments:
            - ERPBundle\Entity\StoreEntity